<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="favicon.png" rel="icon" type="image/png" />
    <meta charset="utf-8" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <meta name="description" content="<%= description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
